.sticky-header {
  background-color: var(--chakra-colors-chakra-body-bg);
  color: var(--chakra-colors-chakra-body-text);
  font-size: 1.25rem;
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 1rem;
  /* z-index: 900;
  width: 100%;
  margin-left: 1rem; */
  /* color: #f5daba; */
}
